<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	

	<bean destroy-method="close" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		id="dataSource">
		
		<property value="com.mysql.jdbc.Driver" name="driverClass" />
		<!-- 指定连接数据库的URL -->
		<property value="jdbc:mysql://localhost:3306/goas?useUnicode=true&amp;characterEncoding=utf-8"
			name="jdbcUrl" />
		<!-- 指定连接数据库的用户名 -->
		<property value="root" name="user" />
		<!-- 指定连接数据库的密码 -->
		<property value="" name="password" />
		
		<property name="minPoolSize">
			<value>5</value>
		</property>
		

		<property name="maxPoolSize">
			<value>30</value>
		</property>
		

		<property name="initialPoolSize">
			<value>10</value>
		</property>
		

		<property name="maxIdleTime">
			<value>20</value>
		</property>
		

		<property name="acquireIncrement">
			<value>5</value>
		</property>
		

		<property name="maxStatements">
			<value>0</value>
		</property>
		

		<property name="idleConnectionTestPeriod">
			<value>30</value>
		</property>
		

		<property name="acquireRetryAttempts">
			<value>30</value>
		</property>
		

		<property name="breakAfterAcquireFailure">
			<value>true</value>
		</property>
		

		<property name="testConnectionOnCheckout">
			<value>false</value>
		</property>
	</bean>


	
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		
		<property name="dataSource" ref="dataSource" />
		
		<property name="hibernateProperties">
			
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="org.model" />
	</bean>

	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

<!-- 
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="del*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="point-cut" expression="execution(* cn.my.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="point-cut" />
    </aop:config>
 -->

	<!-- 使用annotation定义事务 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->

	<context:annotation-config />

	
	<context:component-scan base-package="org" />

</beans>