body {}
#form { 
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto; 
	margin-top:20px;
	margin-bottom:20px;
	border-style:solid;
	border-width:1px;
	border-color:#AAA;
	padding:20px;
	width:650px;
}
#head {
	margin:10px;
	border-style:solid;
	border-bottom-width:1px;
	border-color:#AAA;
	font-size: 24px;
}
.field { 
	margin:15px;
	margin-top:30px;
	padding-bottom: 20px;
	background-color: #FCFCFC;

}
.field-head {
	margin-top:5px;
	margin-bottom:20px;
	border-style:dotted;
	border-bottom-width:1px;
	border-color:#CCC;
	background-color:#FFF;
	font-size: 16px;
}
.field-con {
	margin-top:10px;
	margin-left:50px;
	font-size: 14px;
}
.field-con span {
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	width:80px;
	margin-right: 20px;
}
.field-btn { 
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto; 
	margin: 15px;
	text-align: center;
}
.inp {
	display:inline-block;
	padding: 2px;
	padding-left: 10px;
	width: 200px;
}
.inp-table {
	display:inline-block;
}
/* icon s*/
span.ui-icon {
	margin: 0px 0px 5px 15px;
	padding: 0 0;
	cursor: pointer;
	background-color: #F0F0F0;
}