body, html {
    height : 100%;
}
body {
    padding : 0px;
    margin : 0;
    overflow : hidden;
}

/* links */
.l-acc-link {
    width: 240px;
    position: relative;padding-left:10px; color:#183152; font-weight:bold;
    text-decoration: none;
    height:25px; line-height:24px;  
    background: #E5EFFE url('../jqueryLiger/lib/ligerUI/skins/Aqua/images/layout/accordion-header.gif') repeat-x; 
    overflow:hidden; 
    cursor:pointer;
    display: block;
}
.l-link {
    display : block;
    height : 26px;
    line-height: 26px;
    padding-left: 36px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #042349;
    border : 1px solid white;
    margin : 4px;
}
.l-link-over {
    background : #D2E6FF;
    border : 1px solid #B0C0FF;
    color:black;
}
.l-link2 {
    text-decoration : none;
    color : white;
    margin-left : 2px;
    margin-right : 2px;
}
.l-layout-top {
    background : #102A49;
    color : White;
}
.l-layout-bottom {
    background : #E5EDEF;
    text-align : center;
}
#pageloading {
    position : absolute;
    left : 0px;
    top : 0px;
    background : white url('../img/loading.gif') no-repeat center;
    width : 100%;
    height : 100%;
    z-index : 99999;
}

.l-winbar {
    background : #2B5A76;
    height : 30px;
    position : absolute;
    left : 0px;
    bottom : 0px;
    width : 100%;
    z-index : 99999;
}
.space {
    color : #E7E7E7;
}

/* top */
.l-topmenu {
    margin : 0;
    padding : 0;
    background: url('../img/head.png');
    height : 111px;
    position : relative;
    border-top : 1px solid #1D438B;
}
.l-topmenu-logo {
    color : #E7E7E7;
    padding-left : 35px;
    line-height : 26px;
    background: url('../img/topicon.gif') no-repeat 10px 5px;
}
.l-topmenu-welcome {
    position : absolute;
    height : 24px;
    line-height : 24px;
    right : 30px;
    top : 2px;
    color : #070A0C;
}
.l-topmenu-welcome a {
    color: white;
    text-decoration: none;}

/* layout */
#layout1 {
    width:99.2%;
    margin : 0 auto;
    margin-top : 4px;
}
