#panel {
}
.news {
    margin-top: 40px;
    margin-left: 55px;
    height: 180px;
    width: 500px;
}
.news-head {
    display:block;
    width: 500px;
    height: 12px;
}
.title-news {
    float:left;
}
.more-news {
    float: right;

    font-size: 12px;
    color: #074DA5;
    font-weight: bold;
}
ul {
    margin-top: 8px;
    border-style:solid;
    border-color: #A8BEF7;
    border-top-width: 2px;
    border-bottom-width: 0px;
    width: 500px;
    padding: 5px;
    list-style-type:none;
    list-style-image:none;
    background-position:0% 0%;
}
li {
    line-height: 25px;
    border-style:dotted;
    border-color: #A8BEF7;
    border-bottom-width: 1px;
}
.li-icon {
    float:left;
    margin-top:3px;
}
a {
    padding-left:26px;
    line-height: 25px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    display:block;
}
a:hover {
    line-height: 26px;
    color: #000;
    font-size: 14px;
    line-height: 26px;
    color: #000;
    font-size: 14px;
    background-color: #A8BEF7;
    cursor:pointer;
}
